.elevators {
    position: absolute;
    /* bottom: 0; */
    top: 0;
    left: 0;
    right: 0;
    background: rgba(123,123,123,.8);
    display: flex;
    justify-content: space-around;
}

.floorsBtns {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.floorsBtns .floorBtns {
    display: flex;
    box-sizing: border-box;
}

.floorsBtns .floorBtns button {
    border: none;
    text-align: center;
    padding: 0 2px;
    background: none;
    box-sizing: border-box;
    cursor: pointer;
}  